<div *ngIf="book" class="row book-details">
  <div class="col-7 book-info">
    <h3>{{book.title}}</h3>
    <p>Author: {{book.author}}</p>
    <p class="book-description">Description: {{book.description}}</p>
    <h2>Price: {{book.price}} &#x24;</h2>
    <div >
      <a class="btn btn-warning" routerLink="/book/edit/{{book._id}}">Edit Book</a>
      <a class="btn btn-danger" routerLink="/book/delete/{{book._id}}">Delete Book</a>
    </div>
  </div>
</div>
<div [hidden]="book" class="no-results">
  <img src="https://i.imgur.com/KRVihMq.png" alt="no-item-found">
</div>
